* {
  box-sizing: border-box;
}

html {
  background-color: #e8e3dd;
}

body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #2b333d;
}

.topnav a {
  float: left;
  display: block;
  color: #fd812d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:active {
  color: red;
}

.gen-info {
  font-family: sans-serif;
  padding: 10px
}

.gen-info a:link, a:visited {
  color: #fd812d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.gen-info a:hover, a:active {
  color: #49a762;
}

.exercise-title {
  padding-left: 10%;
}

.exercise-title input[type=text] {
  border: 2px inset;
  border-radius: 3px;
  font: 1rem Tahoma, Geneva, sans-serif;
  padding-left: 7px;
}

.exercise-input {
  padding-left: 10%;
}

.exercise-input input[type=text]{
  border: 2px inset;
  border-radius: 3px;
  font: 0.7rem Tahoma, Geneva, sans-serif;
  padding-left: 7px;
}

.exercise-input textarea {
  word-wrap: normal;
  box-shadow: 1px 1px 1px #999;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: content-box;
  background-color: white;
  padding: 10px;
  line-height: 1.5;
  resize: none;
}
