.word-wrapper {
  font-family: sans-serif;
}

.word-wrapper:hover {
  background-color: #cbcbcb;
}

.lemmatizer-input-form {
  padding: 20px
}

.lemmatizer-input-form textarea {
  word-wrap: normal;
  box-shadow: 1px 1px 1px #999;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: content-box;
  background-color: transparent;
  padding: 10px;
  line-height: 1.5;
  resize: none;
}