<!DOCTYPE html>
<html lang="en">
<head>
<title>Online Exercise Generator</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/exercise.css') }}">
<script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
</head>
<body>


{% block content %}{% endblock %}

{# {% block script %}{% endblock %} #}
</body>
</html>
