{% extends '_student_base.html.j2' %}

{% block content %}
<div class="exercise-page-grid">
  <div class="header">
    {{ exercise_title }}
  </div>
  <div class="exercise-container">
    {% for activity in exercise_activities %}
      <div class="exercise-howto">
        {{ activity.howto }}
      </div>
      <hr>
      {% for sentence in activity.content %}
        <div class="task-context">
          {% for token in sentence %}
            {% if token.type == "kb_input" %}
              <input type="text" id="{{ token.task_id }}" name="task-input" task_id="{{ token.task_id }}" autocomplete="off" {% if token.placeholder %} placeholder="{{ token.placeholder }}" {% endif %}><input type="submit" name="check-task" value="↵" task_id="{{ token.task_id }}">
            {% elif token.type == "plaintext" %}
              {{ token.text }}
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  <div class="footer">
    Found a bug? <a href="#report">Report</a> the page!
    <br>
    <br>
    <a href="{{ url_for('exercise_generator') }}">🠸 Generator</a>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/exercise.js') }}"></script>
<script>
  url = {{ url_for('check', exercise_id=exercise_id)|tojson }}
  let submitButtonsArray = document.getElementsByName("check-task");
  submitButtonsArray.forEach(function(element) {
    element.addEventListener('click', (event) => checkTaskSubmit(url, event));
  })

  let inputFieldsArray = document.getElementsByName("task-input");
  inputFieldsArray.forEach(function(element) {
    element.addEventListener('keyup', function(event) {
      var key = event.keyCode;
      if (key === 13) { // 13 is enter
        checkTaskSubmit(url, event);
      }
      else {
        resizeInput(event);
      }
    })
  })
</script>
{% endblock %}