<!--@formatter:off-->
{% extends '_teacher_base.html.j2' %}

{% block content %}
<div class="gen-page-grid">
  <div class="gen-info">
    <h3>Markup rules</h3>
    &lt; &gt; - Task wrapper. Contents may include<br>
    <ul>
      <li>| - delimiter for possible answers, e.g. He &lt;will|is going to&gt; play basketball tomorrow</li>
      <li>() - input placeholder, e.g. She &lt;is(be)&gt; ready</li>
    </ul>
  </div>
  <hr>
  <div class="exercise-gen-form">
    <form action = "{{ url_for('generate_exercise') }}" method="post">
      <div class="exercise-title">
        <input type="text" name="exercise-title" placeholder="Title">
      </div>
      <div class="exercise-input">
        <input type="text" name="exercise-howto" placeholder="Exercise instructions">
        <hr>
        <textarea name="exercise-content" placeholder="One sentence per line" cols="50" rows="10"></textarea>
      </div>
      <input type="submit">
    </form>
  </div>
</div>
{% endblock %}
