<!--@formatter:off-->
{% extends '_base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lemmatizer.css') }}">
<div class="lemmatizer-input-form">
  <form><textarea placeholder="Enter your text" cols="50" rows="10"></textarea><br>
  <input type="submit"></form>
</div>

<span class="word-wrapper">Text</span>


{% endblock %}

{% block script %}

<script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
<script type="text/javascript" src="javascript/exercise.js"></script>
<script>
</script>

{% endblock %}
