<!--@formatter:off-->
{% extends '_teacher_base.html.j2' %}

{% block content %}
<div class="geninfo">
  See <a href="https://en.wiki.tatoeba.org/articles/show/text-search">query guide</a> for more info
</div>
<hr>

<div class="genform">
  <form><textarea placeholder="One query per line e.g.:

    turn << (on|off|up|down)
    switch (on|off)" cols="50" rows="10"></textarea><br>
  <input type="submit"></form>
</div>

<div class="genresult">
  <form class="" action="index.html" method="post">
    <p><input type="text" name="" value="Instead of turning your back on me, why don't you look me in the eye and tell me what really happened?">
    <button type="button" name="button">↻</button></p>
    <p><input type="text" name="" value="Tom thought that the music was too loud, but he was too tired to get up and turn the volume down.">
    <button type="button" name="button">↻</button></p>
    <p><input type="text" name="" value="When I was a kid, there'd be nightly arguments about whose turn it was to wash up.">
    <button type="button" name="button">↻</button></p>
    <p><input type="text" name="" value="The mobile phone you have dialed is either switched off or outside the coverage area, please try again later.">
    <button type="button" name="button">↻</button></p>
    <p><input type="text" name="" value="Tom went inside the dark room and switched on the lights.">
    <button type="button" name="button">↻</button></p>
  </form>
</div>

{% endblock %}
